<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myPoll -- Update poll</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="bg-info">
    <%- include('nav.ejs', {username}) %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 my-2">
          <div class="card card-body">
            <h4>Update Poll</h4>
            <form action="/user/edit" method="POST">
              <div class="form-group" style="display: none">
                <label for="title">Poll ID</label>
                <input
                  type="text"
                  name="id"
                  id="title"
                  class="form-control"
                  value="<%= poll._id %>"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="title">Enter Title</label>
                <input
                  type="text"
                  name="title"
                  id="title"
                  class="form-control"
                  value="<%= poll.title %>"
                />
              </div>
              <div class="form-group">
                <label for="desc">Enter Description</label>
                <textarea name="description" id="desc" class="form-control">
<%= poll.description %></textarea
                >
              </div>
              <div id="options">
                <p>Enter Your Options</p>
                <% for( let i = 0; i < poll.options.length; i++ ) { %>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      name="options"
                      class="form-control myinput"
                      placeholder="Option <%= i+1 %> "
                      value="<%= poll.options[i].name %>"
                    />

                    <input
                      type="text"
                      name="options"
                      class="form-control d-none"
                      value="<%= poll.options[i].vote %>"
                      readonly
                    />

                    <div class="input-group-btn optDelete">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
              <button class="btn btn-info btn-sm" id="addOption">
                Add More Options
              </button>
              <input
                type="submit"
                class="my-3 btn btn-primary w-100"
                value="Update poll"
              />
            </form>
            <a href="/polls" class="btn btn-outline-secondary">Cancel</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      //add new option
      let options = document.getElementById("options");
      let addOption = document.getElementById("addOption");
      let curOptNum = document.querySelectorAll(".myinput").length + 1;
      addOption.addEventListener("click", (event) => {
        event.preventDefault();
        let option = createNewOpton();
        options.appendChild(option);
      });

      function createNewOpton() {
        let div = document.createElement("div");
        let input = `<div class="input-group">
                              <input
                                 type="text"
                                 name="options"
                                 class="form-control myinput"
                                 placeholder="Option ${curOptNum++}"
                              />
                              <input
                                 type="text"
                                 name="options"
                                 class="form-control d-none"
                                 value="0"
                                 readonly
                              />
                              <div class="input-group-btn">
                                 <button
                                    class="btn btn-default optDelete"
                                    type="button"
                                 >
                                    <i class="fa fa-trash"></i>
                                 </button>
                              </div>
                           </div>`;
        div.className = "form-group";
        div.innerHTML = input;
        return div;
      }
      // remove an option

      let deleteBtns = Array.from(document.querySelectorAll(".optDelete"));

      deleteBtns.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          console.log(btn.parentElement.parentElement);
          options.removeChild(btn.parentElement.parentElement);
        });
      });
    </script>
  </body>
</html>
